* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --gray-900: #121214;
  --gray-300: #444448;

  --primary-200: #fcd085;
  --primary-400: #ffbc48;

  font-size: 62.5%;
}

.sr-only {
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  position: absolute;

  overflow: hidden;

  clip: rect(0, 0, 0, 0);

  border-width: 0;

  white-space: nowrap;
}

body {
  background-color: #121213;

  font-size: 1.6rem;
}

body * {
  font-family: sans-serif;
}

header {
  max-width: 46rem;

  margin: auto;
  padding: 3.2rem;

  color: white;

  text-align: center;
}

h1 {
  opacity: 0.9;
}

.input-wrapper {
  position: relative;
}

header input {
  width: 100%;

  margin-top: 2rem;
  padding: 1rem 1.6rem;

  background-color: #444448;
  color: white;

  border: 0;
  border-radius: 0.8rem;

  font-size: 1.6rem;
}

.input-wrapper i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

main {
  max-width: 70rem;

  margin: 3.2rem auto;
  padding-inline: 3.2rem;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  list-style: none;
}

ul:has(li:hover) li:not(:hover) {
  opacity: 0.6;
  scale: 0.98;
}

li {
  flex: 1;

  padding: 2.8rem;

  background-color: var(--gray-300);
  color: white;

  border-radius: 0.8rem;

  transition: all 0.2s;
}

li .header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

li i {
  padding: 0.4rem;

  font-size: 2.4rem;

  background-color: var(--primary-400);
  color: var(--gray-900);

  border-radius: 50%;
}

li h2 {
  opacity: 0.9;
}

li p {
  margin-top: 1.6rem;

  opacity: 0.5;
}

li a {
  margin-top: 1.6rem;

  display: inline-block;

  color: white;

  font-weight: bold;
  text-decoration: none;

  transition: color 0.2s;
}

li a:hover {
  color: var(--primary-200);
}

@media (max-width: 36rem) {
  ul {
    grid-template-columns: 1fr;
  }
}
