html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #130f0d;
  color: white;
}

.boards {
  display: flex;

  margin-top: 32px;
}

.board {
  background-color: #1a1316;

  border: 1px solid #fd951f11;
  border-radius: 4px;

  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;

  color: #fd951fcc;
}

.dropzone {
  min-width: 282px;
  min-height: 200px;

  padding: 16px;
}

.card {
  width: 250px;

  padding: 16px;
  margin: 25px 0;

  background-color: #1a1a1c;

  box-shadow: 0 2px 2px -1px #fd951fcc;

  border-radius: 4px;

  font-size: 18px;
  font-weight: 600;
}

.status {
  width: 30px;
  height: 8px;

  margin-bottom: 16px;

  background-color: gray;

  border-radius: 8px;
}

.status.green {
  background-color: #23d2ac;
}

.status.blue {
  background-color: #33adff;
}

.status.red {
  background-color: red;
}

.highlight {
  background-color: #fd951f08;
}

.card,
.dropzone {
  transition: 400ms;
}

.is-dragging {
  cursor: move;

  opacity: 0.3;
}

.over {
  background-color: #4cd13711;
}
